<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node File Uploads</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="shortcut icon" href="favicon.ico">



</head>

<body>

  <div class="container">

    


    <h5>Notice Board</h5>

 
    <div id="parent">

     


    </div>

    <p id="temp" class="" style="display: none;"><%=data%> </p>
     





  </div>




<script> 

var s = document.getElementById('temp').innerText ;

  document.getElementById('parent').innerHTML= s;
</script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>